@page
@model NutritionTrackerRazorPages.Pages.SimpleFoodRecords.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SimpleFoodRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SimpleFoodRecord.Id" />
            <div class="form-group">
                <label asp-for="SimpleFoodRecord.Date" class="control-label"></label>
                <input asp-for="SimpleFoodRecord.Date" class="form-control" />
                <span asp-validation-for="SimpleFoodRecord.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SimpleFoodRecord.Time" class="control-label"></label>
                <input asp-for="SimpleFoodRecord.Time" class="form-control" />
                <span asp-validation-for="SimpleFoodRecord.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SimpleFoodRecord.SimpleFoodId" class="control-label"></label>
                <select asp-for="SimpleFoodRecord.SimpleFoodId" class="form-control" asp-items="ViewBag.SimpleFoodId"></select>
                <span asp-validation-for="SimpleFoodRecord.SimpleFoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SimpleFoodRecord.Amount" class="control-label"></label>
                <input asp-for="SimpleFoodRecord.Amount" class="form-control" />
                <span asp-validation-for="SimpleFoodRecord.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
